<a href="https://colab.research.google.com/github/XinyueZ/flutter-web-profanity-check/blob/master/machine_learning/profanity_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

In [0]:
import tensorflow as tf
assert tf.__version__.startswith('2')

import itertools

import os
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
tf.__version__

'2.2.0'

In [0]:
#Download dataset
URL = "https://dl.dropbox.com/s/ewpit86gekpiwk5/hate_dirty_peech_labeled_data.tsv"
path = tf.keras.utils.get_file(URL.split('/')[-1], URL)

In [0]:
# Convert the data to a Pandas data frame
data = pd.read_csv(path, sep="\t")

In [16]:
# Shuffle the data
data = data.sample(frac=1)

# Print the first first five rows as default
data.head()

       Unnamed: 0  ...                                              tweet
745           764  ...  #PeopleToAvoid Valerie Jarrett, so I control m...
19819       20267  ...  RT @paulabruederle: Some birds aren't meant to...
336           344  ...  @iDntWearCondoms: Watch women try to argue wit...
5954         6132  ...  @felicity182 a pussy in ur mouth is a really g...
21284       21752  ...                      Taught me how to hate a bitch

[5 rows x 7 columns]