<a href="https://colab.research.google.com/github/XinyueZ/flutter-web-profanity-check/blob/master/machine_learning/profanity_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

In [0]:
import tensorflow as tf
assert tf.__version__.startswith('2')

import itertools

import os
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [79]:
tf.__version__

'2.2.0'

In [0]:
#Download dataset
URL = "https://dl.dropbox.com/s/ewpit86gekpiwk5/hate_dirty_peech_labeled_data.tsv"
path = tf.keras.utils.get_file(URL.split('/')[-1], URL)

In [0]:
# Convert the data to a Pandas data frame
data = pd.read_csv(path, sep="\t")

In [82]:
# Shuffle the data
data = data.sample(frac=1)

# Print the first first five rows as default
data.head()

       Unnamed: 0  ...                                              tweet
1771         1815  ...  &#8220;@iDisrespectHoez: RT @GodOfMilfs: Singl...
16395       16775  ...  RT @Matty_Kem: My favorite shark is megaldon, ...
4001         4127  ...      @MadameCrystalB yes bitch. &#128528;&#128514;
6708         6903  ...  @moneydriven lol profane words, bwahahahahahah...
9427         9693  ...  Girls be like "10/23/12 I love you babe &lt;3"...

[5 rows x 7 columns]

In [83]:
# Clean data
data = data[pd.notnull(data['class'])]
data = data[pd.notnull(data['tweet'])]
data = data.drop(data.columns[0], axis=1) 
data = data.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither']) 
 
# Print the first first five rows as default
data.head()

       class                                              tweet
1771       1  &#8220;@iDisrespectHoez: RT @GodOfMilfs: Singl...
16395      2  RT @Matty_Kem: My favorite shark is megaldon, ...
4001       1      @MadameCrystalB yes bitch. &#128528;&#128514;
6708       1  @moneydriven lol profane words, bwahahahahahah...
9427       1  Girls be like "10/23/12 I love you babe &lt;3"...